
argo-cd:

  env:
    TZ: Europe/London

  global:
    image:
      tag: "2.8.4"

  configs:
    params:
      server.insecure: true
#      applicationset-controller.log.level: debug
#      server.log.level: debug

  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      rules:
#      enabled: true
        namespace: observability

  extraObjects:
    - kind: IngressRoute
      apiVersion: traefik.containo.us/v1alpha1
      metadata:
        name: argocd-server
        namespace: argocd
        annotations:
          kubernetes.io/ingress.class: traefik-external
      spec:
        entryPoints:
          - websecure
        routes:
          - kind: Rule
            match: Host(`argocd.theclarkhome.com`)
            priority: 10
            services:
              - name: argo-cd-argocd-server
                port: 80
          - kind: Rule
            match: Host(`argocd.theclarkhome.com`) && Headers(`Content-Type`, `application/grpc`)
            priority: 11
            services:
              - name: argo-cd-argocd-server
                port: 80
                scheme: h2c
        tls: {}

